version: '3'
services:
  pool:
    build:
      context: .
      dockerfile: indy-pool.dockerfile
      args:
        - pool_ip=172.16.0.100
    ports:
      - 9701-9708:9701-9708
    networks:
      indy-network:
        ipv4_address: 172.16.0.100

  mongodb:
    image: mongo:latest
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    ports:
      - 27017:27017
    command: mongod --smallfiles
    networks:
      indy-network:
        ipv4_address: 172.16.0.150

  api:
    build:
      context: .
    container_name: idchain-api
    image: indy-api:latest
    environment:
      - GENESIS_TXN=pool_transactions_genesis.docker-compose
    ports:
      - 8000:8000
    depends_on:
      - mongodb
      - pool
    networks:
      indy-network:
        ipv4_address: 172.16.0.200
  
  schema-compiler:
    build:
      context: ../schema-api
    container_name: schema-compiler
    ports:
      - 9000:9000
    networks:
      indy-network:
        ipv4_address: 172.16.0.201


networks:
  indy-network:
    external: true
