version: '3'

networks:
  indy-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${IDC_API_SUBNET-172.16.0.0/24}

services:
  pool:
    image: idchain/test-pool:1.5
    ports:
      - ${IDC_POOL_PORTS-9701-9708}:${IDC_POOL_PORTS-9701-9708}
      - 8001:8001
    environment:
      - IDC_POOL_NAME=${IDC_POOL_NAME-testPool}
      - IDC_POOL_IP=${IDC_POOL_IP-172.16.0.200}
      - IDC_PORT_START=${IDC_PORT_START-9700}
    networks:
      indy-network:
        ipv4_address: ${IDC_POOL_IP-172.16.0.200}

  mongodb:
    image: mongo:4
    command: --smallfiles
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${IDC_API_DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${IDC_API_DB_PASSWORD}
    networks:
      - indy-network

  schema:
    image: idchain/schema-extensions:1.0
    environment:
      - IDC_SCHEMA_IP=${IDC_SCHEMA_IP-172.16.0.150}
      - IDC_SCHEMA_PORT=${IDC_SCHEMA_PORT-9000}
    networks:
      indy-network:
        ipv4_address: ${IDC_SCHEMA_IP-172.16.0.150}

  api:
    build:
      context: .
    image: idchain/iea-api
    container_name: idchain-api
    environment:
      - RUST_LOG=${RUST_LOG-debug}
      - IDC_API_LOG_LEVEL=${IDC_API_LOG_LEVEL-debug}
      - IDC_API_HOST=${IDC_API_HOST-172.16.0.100}
      - IDC_API_PORT=${IDC_API_PORT-8000}
      - IDC_API_DOMAIN_PROTOCOL=${IDC_API_DOMAIN_PROTOCOL-http}
      - IDC_API_DOMAIN_HOST=${IDC_API_DOMAIN_HOST-172.16.0.100}
      - IDC_API_DOMAIN_PORT=${IDC_API_DOMAIN_PORT-8000}
      - IDC_API_NYM_ALWAYS=${IDC_API_NYM_ALWAYS-false}
      - IDC_API_JWT_SECRET=${IDC_API_JWT_SECRET-changeme}
      - IDC_API_DB_HOST=${IDC_API_DB_HOST-mongodb}
      - IDC_API_DB_PORT=${IDC_API_DB_PORT-27017}
      - IDC_API_DB_USER
      - IDC_API_DB_PASSWORD
      - IDC_API_SALTROUNDS=${IDC_API_SALTROUNDS-10}
      - IDC_API_GENESIS_TXN=${IDC_API_GENESIS_TXN-./pool_transactions_genesis}
      - IDC_POOL_IP=${IDC_POOL_IP-172.16.0.200}
      - IDC_POOL_NAME=${IDC_POOL_NAME-testPool}
      - IDC_POOL_INFO_PORT=${IDC_POOL_INFO_PORT-8001}
      - IDC_SCHEMA_IP=${IDC_SCHEMA_IP-172.16.0.150}
      - IDC_SCHEMA_PORT=${IDC_SCHEMA_PORT-9000}
    ports:
      - ${IDC_API_PORT-8000}:${IDC_API_PORT-8000}
    depends_on:
      - mongodb
      - schema
    networks:
      indy-network:
        ipv4_address: ${IDC_API_HOST-172.16.0.100}
