#
# IDChain Agent example environment file / variables documentation
# Rename this to .env if you want to use it or create your own.
#

# API
# ===============================================

# host and port the API binds to
APP_HOST=172.16.0.100
APP_PORT=8000

# protocol (http/s), host, and port at which the API is
# reachable from the outside
APP_DOMAIN_PROTOCOL=http
APP_DOMAIN_HOST=172.16.0.100
APP_DOMAIN_PORT=8000

# wallet cache ttl, e.g. how long to wait before closing
# a wallet after no request is using it anymore for processing
# (in minutes)
APP_WALLETCACHE_TTL=15

# bcrypt saltOrRounds configuration
SALTROUNDS=10

# change this!
JWT_SECRET=your_jwt_secret

# API logger log level
LOG_LEVEL=debug

# low-level rust indy-sdk/libindy log level
RUST_LOG=debug


# Database
# ===============================================

# host and port at which the database is reachable
DB_HOST=mongodb
DB_PORT=27017

# database user username and password
DB_USER=
DB_PASSWORD=


# Pool
# ===============================================

# ip at which the indy pool is reachable
POOL_IP=172.16.0.200

# name for the pool
POOL_NAME=testPool

# path to pool_transactions_genesis
GENESIS_TXN=./pool_transactions_genesis

# Schema compiler api
# ===============================================

## the ip where the schema-compiler will listen for input high-level schemas
SCHEMA_COMP_HOST=172.16.0.150

## the port where the schema-compiler will listen
SCHEMA_COMP_PORT=8080


# Deployment
# ===============================================

# subnet for docker-compose network
API_SUBNET=172.16.0.0/24

# port range which indy pool nodes bind to
POOL_PORTS=9701-9708

# (exclusive) initial port of POOL_PORTS range
# i.e. at which port to start binding
PORTSTART=9700
