#
# IDChain Agent example environment file / variables documentation
# Rename this to .env if you want to use it or create your own.
#

# API
# ===============================================

# host and port the API binds to
IDC_API_HOST=172.16.0.100
IDC_API_PORT=8000

# protocol (http/s), host, and port at which the API is
# reachable from the outside
IDC_API_DOMAIN_PROTOCOL=http
IDC_API_DOMAIN_HOST=172.16.0.100
IDC_API_DOMAIN_PORT=8000

# wallet cache ttl, e.g. how long to wait before closing
# a wallet after no request is using it anymore for processing
# (in minutes)
IDC_API_WALLETCACHE_TTL=15

# whether to always write pairwise dids onto the ledger per nym request
# by default pairwise dids are only stored locally and not stored on the ledger
# except when a role other than NONE is offered
IDC_API_NYM_ALWAYS=false

# bcrypt saltOrRounds configuration
IDC_API_SALTROUNDS=10

# change this!
IDC_API_JWT_SECRET=your_jwt_secret

# API logger log level
IDC_API_LOG_LEVEL=debug

# low-level rust indy-sdk/libindy log level
RUST_LOG=debug


# Database
# ===============================================

# host and port at which the database is reachable
IDC_API_DB_HOST=mongodb
IDC_API_DB_PORT=27017

# database user username and password
IDC_API_DB_USER=
IDC_API_DB_PASSWORD=


# Pool
# ===============================================

# ip at which the indy pool is reachable
IDC_POOL_IP=172.16.0.200

# name for the pool
IDC_POOL_NAME=testPool

# path to pool_transactions_genesis
IDC_API_GENESIS_TXN=./pool_transactions_genesis

# Schema compiler api
# ===============================================

## the ip where the schema-compiler will listen for input high-level schemas
SCHEMA_COMP_HOST=172.16.0.150

## the port where the schema-compiler will listen
SCHEMA_COMP_PORT=8080


# Deployment
# ===============================================

# subnet for docker-compose network
IDC_API_SUBNET=172.16.0.0/24

# port range which indy pool nodes bind to
IDC_POOL_PORTS=9701-9708

# (exclusive) initial port of IDC_POOL_PORTS range
# i.e. at which port to start binding
IDC_PORT_START=9700
