[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
django-rest-swagger = "*"
coreapi = "*"
pygments = "*"
markdown = "*"
"python3-indy" = "*"


[dev-packages]



[requires]

python_version = "3.6"
